<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="dual_arm_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
                <plugin>mock_components/GenericSystem</plugin>
            </hardware>
            <joint name="l-j1">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['l-j1']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="l-j2">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['l-j2']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="l-j3">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['l-j3']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="l-j4">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['l-j4']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="l-j5">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['l-j5']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="l-j6">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['l-j6']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="l-j7">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['l-j7']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="r-j1">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['r-j1']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="r-j2">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['r-j2']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="r-j3">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['r-j3']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="r-j4">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['r-j4']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="r-j5">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['r-j5']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="r-j6">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['r-j6']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="r-j7">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['r-j7']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
